@import "../../style.scss";

.leftBar {
    @include themify($themes) {
        position: sticky;
        max-width: 100%;
        height: calc(100vh - 4rem);
        top: 4rem;
        background-color: themed("bgSoft");
        color: themed("textColor");
        border-color: themed("border") !important;

        .btn {
            border-color: themed("border");
            color: themed("textColor");
        }

        .bottom {
            position: absolute;
            bottom: 0px!important;
        }

        @include mobile {
            display: none;
        }

        .btn:hover {
            background-color: gray;
        }

        a {
            color: themed("textColor");
        }

        @media (max-width: 992px) {
            form {
                width: 100%;
            }
        }

        @media (min-width: 992px) {
            form {
                width: 50%;
            }
        }
    }
}