.register {
    height: 100vh;
    background: linear-gradient(90deg, #c94b4b, #4b134f);

    .card {
        background-color: black;
        opacity: .4;
        &--desc{
            opacity: 1;
        }
        min-width: 60%;
        min-height: 50%;
    }
    
    @media (max-width: 375px) {
        .container {
            .card {
                width: 100%!important;
                min-height: 100%!important;
            }
            .custom-form{
                width: 100%!important;
            }
        }    
    }
    
    @media (min-width: 376px) and (max-width: 768px) {
        .container {
            .card {
                width: 80%!important;
                min-height: 82%!important;
            }
            .custom-form{
                width: 100%!important;
            }
        }    
    }
    
    
    
    @media (min-width: 768px) and (max-width:992px) {
        .container {
            .card {
                width: 80%;
                min-height: 75%!important;
            }
            .custom-form{
                width: 100%!important;
            }
        }
    }
    
    @media (max-width: 1024px) {
        .container {
            .card {
                height: 60%!important;
                width: 75%;
            }
            .custom-form{
                width: 90%!important;
            }
        }
    }
}

