@import "../../style.scss";

.home-page {
    @include themify($themes) {
        min-height: calc(100vh + 400px);
        background-color: themed("bg");
        color: themed("textColor");
        border-color: themed("border") !important;

        .btn {
            border-color: themed("border");
            color: themed("textColor");
        }

        .btn:hover {
            background-color: gray;
        }

        a {
            color: themed("textColor");
        }
    }
}